p{line-height:2; color:white;}
h2{line-height: 0.5; color: white;font-family: 'Cabin Sketch', cursive; margin-top: 20px;}
p{font-family: 'Supermercado One', cursive; font-size: 14pt;}
body{background: url('../img/flats.jpg') no-repeat center center fixed; background-size: cover}
.logo{height:170px; width: auto; margin-bottom: 30px}
.soundcloud{margin-top: 10px; margin-bottom:10px;}
a{margin-bottom: 30px}
.navlink { color:white; }
.nav-link { color:white !important; }
.navbar-toggler { color:white !important; border-color:white !important; }